@model List<Portfolio.DAL.Entities.Testimonial>
<section id="testimonials">

    <div class="s-testimonials">

        <div class="overlay"></div>

        <div class="row testimonials-header">
            <div class="col-full">
                <h1 class="h02">Hakkimda ne dusunuyorlar?</h1>
            </div>
        </div>

        <div class="row testimonials">
            <div class="col-full testimonials__slider">
                @foreach (var item in Model)
                {
                    <div class="testimonials__slide">
                        <!-- Dinamik olarak gelen avatar resmi -->
                        <img src="~/hola-master/images/avatars/@item.ImageURL" alt="Author image" class="testimonials__avatar">

                        <!-- Dinamik olarak gelen yorum metni -->
                        <p>@item.Comment</p>

                        <!-- Yazar bilgisi -->
                        <div class="testimonials__author h06">
                            @item.NameSurname
                            <span>@item.Title</span>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
